
.search-users-form {
  position: relative;
}

.menu {
  overflow: hidden;
  width: 150px;
  border: 2px #EEEEEE solid;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  .menu-item {
    padding: 5px 10px;
    &:hover {
      background-color: #EEEEEE;
    }
    &:not(:last-child) {
      border-bottom: 1px #EEEEEE solid;
    }
  }
}
